# Build files
*.exe
*.ilk
*.obj
*.pdb
*.cache
*.dll
*.exp
*.lib
*.map

# Sublime Text files
*.sublime-workspace

# Computer Enhance files
listing_*
listing_*.*

# ImGui files
imgui.ini

# Rad Debugger files
raddbg

# Project build artifacts
sim8086/bin/
haversine/bin/
part03/bin
